<div class="uk-card uk-card-default">
    <div class='uk-card-header'>
        <div class="uk-card-badge uk-label"> {{ .Badge }} </div>
        <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom uk-h3"> {{ .Title }} </h3>
            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"> {{ .Authors }} </p>
        </div>
    </div>
    <div class="uk-card-body">
        <p class="uk-p"> {{ .Summary }} </p>
    </div>
    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
</div>